html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
section, article, header, footer, nav {  display: block; }

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/oswald.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  src: local('Titillium Web ExtraLight'), local('TitilliumWeb-ExtraLight'), url(../fonts/titilliumweb.ttf) format('truetype');
}

html, body {  height: 100%; color: #fff;  font-family: 'Titillium Web', sans-serif;  }
body { background: #ccc url('../img/me3_70.jpg') no-repeat center center fixed; background-size: cover; }

div.wrapperWindow { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -1.5em;}
  header {margin: 0 2em;}

  h1 { font: 5em 'Titillium Web', sans-serif; padding-top: 14%; text-transform: uppercase;}
  h2 { font: 3em 'Titillium Web', sans-serif; margin-top: -0.8em; text-transform: uppercase;}
  h3 { font: 2em 'Oswald', sans-serif; padding: 1em 0 1em;}

  section {  margin: 0 2em 0; }
  section p { font: 1.2em 'Titillium Web', sans-serif; margin: -0.3em 0;}
    section p a { color: #fff; }

ul.links { padding: 4em 0 2em;}
    ul.links li { display: inline; margin: 0 0.2em;}

footer { color: #fff; font: 1em 'Titillium Web', sans-serif; text-align: center; height: 1.5em; }
